#title{
	-fx-font: 32pt "Arial";
}
#playerTurn{
	-fx-background-color: #aaaaaa;
}
#infoButton{ 
	-fx-font: bold 5pt "Arial";
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
}
ChoiceBox{
	-fx-font: 8pt "Arial";
}
